[submodule "phonon-mplayer"]
	path = phonon-mplayer
	url = git://github.com/pder/phonon-mplayer.git
[submodule "minitube"]
	path = minitube
	url = git://gitorious.org/minitube/minitube.git
[submodule "mplayer2-build"]
	path = mplayer2-build
	url = git://github.com/pder/mplayer2-build.git
